<% include ../partials/header %>


<head>
                <!-- <title>DREAM STORE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
-->

<meta charset="UTF-8">
<meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>DREAM STORE</title>


<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.indigo-pink.min.css">
<!-- <link rel="stylesheet" href="/src/css/app.css">
<link rel="stylesheet" href="/src/css/feed.css"> -->
<link rel="manifest" href="/manifest.json">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="DREAMSTORE">
<link rel="apple-touch-icon" href="/public/src/images/icons/storeAPP 192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="/public/src/images/icons/storeApp 512x512.png" sizes="512x512">


<meta name="msapplication-TileImage" content="public/src/images/icons/storeApp 192x192.png">
<meta name="msapplication-TileColor" content="#fff">





                <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
                
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

</head>



<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

<div class="container" style="color:black">
<div class="row " style="display:flex;flex-wrap:wrap;">
        <div class="col-md-4 ">



        </div>
        <div class="col-md-4 ">
            
            <div class="thumbnail">

                    <h3 style="padding:0px 4px 0px 8px">YOUR INFORMATION </h3>
                            
                    <form action="" class="form-inline">  
                         <label ><h4 style="padding:0px 4px 0px 8px">  User Name :-  </h4></label>
                         <h4 style="padding:0px 4px 0px 8px"> <%= currentUser.username %> </h4> 

                    </form>


                    <form action="" class="form-inline">  
                         <label ><h4 style="padding:0px 4px 0px 8px">  Email :-    </h4></label>
                         <h4 style="padding:0px 4px 0px 8px"> <%= currentUser.email %> </h4> 

                    </form>

                    <form action="" class="form-inline">  
                         <label ><h4 style="padding:0px 4px 0px 8px">  Mobile No :-   </h4></label>
                         <h4 style="padding:0px 4px 0px 8px"> <%= currentUser.mobilenbr %> </h4> 

                    </form>
                    <form action="" class="form-inline">  
                         <label ><h4 style="padding:0px 4px 0px 8px">  Gender :-   </h4></label>
                         <h4 style="padding:0px 4px 0px 8px"> <%= currentUser.gender %> </h4> 

                    </form>

            
            </div>

            
        </div>
        <div class="col-md-4 ">


            
        </div>
    
    


</div>
</div>

<% include ../partials/footer %>