
            
                <footer class="footer"  > 
                    <div class="container">
                        <p class="text-muted">
                           <a href="/" style="color:black"> <h4 style="text-align:center"><strong>© DREAM</strong>STORE 2K18</h4> </a>
                        </p>
                     
                    </div>
      
                  </footer>
                  
           
              
            </body>
    
        </html>