
            
                <footer id="footer">  
                    <div class="footer-bottom"  >
                       <div class="container" style="text-align:center">
                           <a href="https://www.facebook.com/" style="padding:8px; color:royalblue;"><strong><i class="fa fa-facebook"></i> Facebook</strong></a>
                           <a href=""  style="padding:8px; color:rgb(250, 133, 143);"><strong><i class="fa fa-instagram"></i> Instagram</strong> </a>
                           <a href=""  style="padding:8px; color:rgb(43, 41, 41);"><strong><i class="fa fa-envelope-o"></i> Email</strong> </a>

                           <p class="text-muted">
                              <a href="/home" style="color:black"> <h4 style="text-align:center"><strong>© DREAM</strong>STORE 2K18</h4> </a>
                           </p>
                        
                       </div>
                    </div> 
         
                </footer>
                 
            </body>
    
        </html>