
 <% include partials/header %>

 

            <div class="container">
                <form action="/home/<%= cart_id%>/comments/<%= comment._id%>?_method=PUT" method="POST" class="form-inline my-2 my-lg-6">
                        <input class="form-control mr-sm-2" type="text"  name="comment[text]" value="<%=comment.text %>" aria-label="Search" >
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">Post</button>
                </form> 
            </div>
            
            <% include partials/footer %>
