<!DOCTYPE html>
	<html lang="en">
		<head>
			<!-- <title>DREAM STORE</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
       -->
      
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <title>DREAM STORE</title>


      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.indigo-pink.min.css">
  <!-- <link rel="stylesheet" href="/src/css/app.css">
  <link rel="stylesheet" href="/src/css/feed.css"> -->
  <link rel="manifest" href="/manifest.json">
  <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#DC0512">
  <meta name="apple-mobile-web-app-title" content="DREAMSTORE">
  <link rel="apple-touch-icon" href="/src/images/icons/store 24X24.png" sizes="24x24">
  <link rel="apple-touch-icon" href="/src/images/icons/store 48X48.png" sizes="48x48">
  <link rel="apple-touch-icon" href="/src/images/icons/store 96X96.png" sizes="96x96">
  <link rel="apple-touch-icon" href="/src/images/icons/store 144X144.png" sizes="144x144">
  <link rel="apple-touch-icon" href="/src/images/icons/store 192X192.png" sizes="192x192">
  <link rel="apple-touch-icon" href="/src/images/icons/store 256X256.png" sizes="256x256">
  <meta name="msapplication-TileColor" content="#DC0512">
  <meta name="theme-color" content="#3f51b5">
  




			<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
			
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        
        </head>
        <body >
			
            
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                       <a href="/" style="padding-left:15px"> <img src="https://28b03yfvd7j3ji3l93ppzub1-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/blackclearbag9-17.png" style="max-height :35px; max-width: 35px; padding: 5px; border: 2px solid brown; border-radius: 5%;"></a>
                        <a class="navbar-brand" href="/" style="color:brown"><b style="color:brown">DREAM</b>STORE</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active" style="padding:8px">
                              <a class="nav-link" href="/home"><i class="fa fa-home"></i>Home <span class="sr-only">(current)</span></a>
                            </li>
                            
                
                            
                            <li class="nav-item dropdown" style="padding:8px">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-book"></i>Category
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/home/category/bookstationeries">Books & Stationeries</a>
                                <a class="dropdown-item" href="/home/category/Electronics">Electronics</a>
                                <a class="dropdown-item" href="/home/category/Furnitures">Furnitures</a>
                                <a class="dropdown-item" href="/home/category/HomeAppliances">Home Appliances</a>
                                <a class="dropdown-item" href="/home/category/Fashion">Fashion</a>
                                <a class="dropdown-item" href="/home/category/Phones">Phones</a>
                                <a class="dropdown-item" href="/home/category/Sports">Sports</a>
                                <a class="dropdown-item" href="/home/category/SweetsCake">Sweets & Cake</a>
                            
                              </div>



                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li style="padding:8px"><a href="" style="color: black">About <i class=""></i> </a></li>
                            <li style="padding:8px" ><a href="" style="color: black"> <i class="" ></i>  Contact</a></li>
                            <li style="padding:8px"><a href="" style="color: black">Help <i class=""></i> </a></li>
                            <% if(!currentUser){%>
                                <li style="padding:8px"> <a  href="/login" style="color: black"><i class="fa fa-sign-in"></i>Login</a>
                                <li style="padding:8px"> <a  href="/register" style="color: black"><i class="fa fa-user-plus"></i>Signup</a>
                            <%} else{%>
                               
                                <li style="padding:8px"><a href="/home/currentuser/profile" style="color: black"><i class="fa fa-sign-in"></i>Signed in as <%= currentUser.username %></a>
                                <li style="padding:8px"> <a  href="/logout" style="color: black">Logout<i class="fa fa-sign-out"></i></a>
                            <% } %>


                        </ul>
                    </div>
                </nav>

                      
                
                        <div class="row text-center" >
        
                                <div class="col-md-12 ">
                                    <div class="thumbnail" >
                                       
                                        <img class="img-responsive" style="width:1260px; max-height:350px" src="http://warangalwebservices.com/images/Online-Shopping.jpg">
                                        
                                        <div class="caption">
                                                <h2 style="color:brown"> <strong>WELCOME TO DREAM STORE </strong> </h2>
                                                <h3 style="color:brown"> <em><strong>Not Just a Store</strong> </em> </h3>
                                        
                                               <a href="/home"><button class="btn btn-default btn-lg" style="color:brown"><strong> GET STARTED  <i class="fa fa-arrow-right"></i></strong></button></a> 
                                        </div>  
                                    </div>
                                </div>     
                        </div>

                        <div class="row text-center"> 
                            <div class="col-md-12">
                                <div class="thumbnail">
                                   <a href="/home/category/shop"> <img class="img-responsive" style=" max-height:450px" src="https://upload.wikimedia.org/wikipedia/commons/a/a2/D23_Expo_2011_-_Disney_D23_Dream_Store_(6080864755).jpg" alt="">
                                    <div class="caption">
                                        <h3 style="color:brown">  <strong> Shops under Dream Store</strong></h3>
                                    </div> </a>
                                </div>
                            </div>

                        <div class="row text-center"> 
                            <div class="col-md-6">
                                <div class="thumbnail">
                                   <a href="/home/category/bookstationeries"> <img src="https://joburgeastexpress.co.za/wp-content/uploads/sites/34/2018/01/stationery-products.jpg" alt="">
                                    <div class="caption">
                                        <h3 style="color:brown">Books and Stationeries</h3>
                                    </div> </a>
                                </div>
                            </div>

                            

                            <div class="col-md-6">
                                    <div class="thumbnail">
                                       <a href="/home/category/Electronics"> <img src="http://www.pngmart.com/files/7/Home-Appliance-PNG-Photo.png" >
                                        <div class="caption">
                                          <h3 style="color:brown">Electronics</h3>  
                                        </div> </a>
                                    </div>
                                </div>
                        </div>

                        <div class="row text-center">
                            <div class="col-md-4">
                                    <div class="thumbnail">
                                            <a href="/home/category/Furnitures">   <img class="img-responsive"  src="https://images.conns.com/wysiwyg/homepage/assets/Bedroom-isolated.png">
                                        
                                            <div class="caption">
                                                
                                        
                                                            <h3 style="color:brown">Furnitures</h3>
                                            </div> </a> 
                                    </div>
                            </div>     
                                            

                        
                            <div class="col-md-4">
                                    <div class="thumbnail">
                                          <a href="/home/category/HomeAppliances">  <img class="img-responsive"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRE0KGqcB1mj2aOCOnb2CXMCdBRxgxJqGWBVvWW6RhWBHu7RZjpg">
                                        
                                            <div class="caption">
                                        
                                                    <h3 style="color:brown">Home Appliances</h3>
                                            </div>  </a> 
                                    </div>
                            </div>     
                                            
                                
                                
                                <div class="col-md-4">
                                        <div class="thumbnail">
                                               <a href="/home/category/Fashion"> <img class="img-responsive"  src="https://d28kchjhwfakt2.cloudfront.net/91top73vyvzc/4pfb7MqO1qquwO0mosCgKs/396b9ab680818f16263df4adf1bb0d2a/ML_OCT_1_BOTTOM_HERO.png?q=70">
                                                <div class="caption">
                                        
                                                        <h3 style="color:brown">Fashion</h3>
                                                </div>  </a>
                                        </div>
                                                                     
                                
                                    </div>


                        </div>

                        <div class="row text-center">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                   <a href="/home/category/Phones"> <img src="http://c8.alamy.com/comp/KXDA04/top-view-of-tablets-and-smartphones-3d-rendering-KXDA04.jpg" class="img-responsive">
                                    <div class="caption">
                                        <h3 style="color:brown">Smart Phones</h3>
                                    </div> </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="thumbnail">
                                       <a href="/home/category/Sports"> <img src="https://www.thehindu.com/migration_catalog/article14542772.ece/alternates/FREE_300/ALL.1.SignPost_+GLOGQC7T.4.jpg.jpg" class="img-responsive">
                                        <div class="caption">
                                            <h3 style="color:brown"> Sports</h3>
                                        </div> </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="thumbnail">
                                           <a href="/home/category/SweetsCake"> <img src="https://acronz.co.in/uploads/food_category_images/Sweets.png" class="img-responsive">
                                            <div class="caption">
                                                <h3 style="color:brown"> Sweets</h3>
                                            </div></a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="thumbnail">
                                             <a href="/home/category/SweetsCake">   <img src="http://pngimg.com/uploads/cake/cake_PNG13126.png" class="img-responsive">
                                                <div class="caption">
                                                    <h3 style="color:brown"> Cakes</h3>
                                                </div> </a>
                                            </div>
                                        </div>

                        </div>

                        
                     <footer class="footer"  >
                        <div class="container" style="text-align:center">
                            <a href="https://www.facebook.com/" style="padding:8px; color:black;"><strong><i class="fa fa-facebook"></i> Facebook</strong></a>
                            <a href=""  style="padding:8px; color:black;"><strong><i class="fa fa-instagram"></i> Instagram</strong> </a>
                            <a href=""  style="padding:8px; color:black;"><strong><i class="fa fa-envelope-o"></i> Email</strong> </a>

                            <p class="text-muted">
                               <a href="/home" style="color:black"> <h4 style="text-align:center"><strong>© DREAM</strong>STORE 2K18</h4> </a>
                            </p>
                         
                        </div>
          
                      </footer>
                      
                     
                      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
				  
                      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
                         
                </body>
        
            </html>