<% include partials/header %>

        <body style="color:brown">
            <div class="container" style="padding: 20px">
                 
                <form action="/home" method="POST" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group">
                        
                        <div class="col-sm-10">
                                <h1>Add new Product</h1>
                            <input type="text" class="form-control" name="cart[product]" placeholder="Product name">
                        </div>
                        </div>
                        <div class="form-group">
                                <label for="image" class="col-sm-2 control-label"><strong>Choose Image </strong> </label>
                        <div class="col-sm-10">
                            
                                <input type="file" name="image" id="image"accept="image/*"  required="">
                           
                        </div>
                        </div>


                        
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label"><strong>Information about Product</strong></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="cart[description1]" placeholder="Information 1">
                                    <input type="text" class="form-control" name="cart[description2]" placeholder="Information 2">
                                    <input type="text" class="form-control" name="cart[description3]" placeholder="Information 3">
                                    <input type="text" class="form-control" name="cart[description4]" placeholder="Information 4">
                                    <input type="text" class="form-control" name="cart[description5]" placeholder="Information 5">
                                    <input type="text" class="form-control" name="cart[description6]" placeholder="Information 6">
                                </div>
                                </div>
                                
                        <div class="form-group">
                                                
                            <div class="col-sm-10">
                                <textarea cols="20" rows="10" type="text" class="form-control" name="cart[description]" placeholder="More Details "></textarea>
                            </div>
                            </div>
                            
                                <div class="form-group">
                        
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="cart[price]" placeholder="Price">
                                        </div>
                                        </div>
                        
                        <div class="form-group">
                         <label for="inputEmail3" class="col-sm-2 control-label"><strong>  Select Category</strong></label>
                        <div class="col-sm-10">
                        <select name="cart[select]">
                                <option value="Books & Stationeries">Books & Stationeries</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Furnitures">Furnitures</option>
                                <option value="Home Appliances">Home Appliances</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Phones">Phones</option>
                                <option value="Sports">Sports</option>
                                <option value="Sweets & Cake">Sweets & Cake</option>
                                
                                
                                
                                
                                
                        </select>
                        </div>
                        </div>
                       
                        <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success"> Submit</button>
                            <a href="/home" > <button class="btn btn-primary">Go Back</button> </a>
                        </div>
                        </div>
                    </form>  
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
				  
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
                       
        </div>
        <% include partials/footer %>